/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

  
  @keyframes slide-right {
    from {
      transform: translateX(40px);
    }
  }
  
  @keyframes slide-left {
    to {
      transform: translateX(-40px);
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
  }
  
  @keyframes fade-out {
    to {
      opacity: 0;
    }
  }
  
  ::view-transition-old(root) {
    animation: 100ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    400ms cubic-bezier(0.4, 0, 0.2, 1) both slide-left;
  }
  
  ::view-transition-new(root) {
    animation: 250ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    400ms cubic-bezier(0.4, 0, 0.2, 1) both slide-right;
  }