<div class="min-h-screen bg-gray-200">
  <header class="bg-blue-500 py-4 text-white">
    <div class="mx-auto max-w-6xl px-4">
      <h1 class="text-2xl font-bold">Workout diary</h1>
    </div>
  </header>
  <main class="mx-auto mt-8 max-w-6xl px-4">
    <app-list-entries
      [exerciseList]="exerciseList"
      (deleteEvent)="deleteItem($event)"
      (newRepEvent)="newRep($event)"
    />
    <app-new-item-button (newExerciseEvent)="addExercise($event)" />
    <br />
    <br />
    <button
      class="rounded bg-blue-500 py-2 px-4 font-bold text-white hover:bg-blue-700"
      (click)="newList()"
    >
      Server Sync
    </button>
  </main>
</div>
