<div class="flex h-screen items-center justify-center bg-blue-500">
  <div class="rounded bg-blue-200 p-6 shadow">
    <h2 class="mb-6 text-2xl font-bold text-gray-800">Login</h2>
    <form class="space-y-4" [formGroup]="loginForm" (ngSubmit)="login()">
      <div>
        <label for="username" class="text-gray-700">Username</label>
        <input
          type="text"
          id="username"
          class="block w-full rounded border-gray-300 p-2 focus:border-blue-500 focus:outline-none"
          formControlName="username"
        />
      </div>
      <div>
        <label for="password" class="text-gray-700">Password</label>
        <input
          type="password"
          id="password"
          class="block w-full rounded border-gray-300 p-2 focus:border-blue-500 focus:outline-none"
          formControlName="password"
        />
      </div>
      <div>
        <button
          type="submit"
          class="w-full rounded bg-blue-500 px-4 py-2 text-white"
          [disabled]="loginForm.invalid"
          [class.opacity-50]="loginForm.invalid"
          data-cy="submit"
        >
          Login
        </button>
      </div>
    </form>
  </div>
</div>
